@page "/about"

<h2>This app was created by ...</h2>

<table>
    <tr>
        <td>First Name:</td>
        <td>Huy</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>Nguyen</td>
    </tr>
</table>
