@page "/signin";

<div class="sign-form">
    <p class="welcome-text">Hello @(String.IsNullOrEmpty(Username) ? "User" : Username) - Today is @Day!</p>
    @*<input type="text" class="sign-input form-control" placeholder="Username" @onchange="HandleUserNameChanged"/>*@
    <ValidationInput ValueChangedCallBack="HandleUserNameValueChanged" Value="@Username"></ValidationInput>
    <input type="password" class="sign-input form-control" placeholder="Password"/>

    <button class="sign-button btn btn-primary" type="submit">Sign In</button>

    <div class="signup">
        <a href="\signup">Sign Up</a>
    </div>
</div>

@code {
    public string Username { get; set; } = "Username";

    private string Day { get; } = DateTime.Now.DayOfWeek.ToString();

    private void HandleUserNameChanged(ChangeEventArgs eventArgs)
    {
        Username = eventArgs.Value.ToString();
    }

    private void HandleUserNameValueChanged(string value)
    {
        Username = value;
    }
}
